<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://iwnobncyjorizoecehll.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3bm9ibmN5am9yaXpvZWNlaGxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNTEyNDMsImV4cCI6MjA5MzkyNzI0M30.dVvX2k-avrYFqoaWz4aDrRddCjMXm4UKE6QcSHjp3MQ</string>
</dict>
</plist>
